Making the API better

I would like to make this library the best it can be. I think the current API reflects my misunderstandings of the JWT spec and how people use JWT in practice. I am making this issue to propose a better API and also to take comments and proposals for making Joken better as well.

I propose simplifying the library down to the essential functionality. What I feel is essential functionality is encoding to create a JWT, decoding a JWT, and verifying a JWT before decoding it. This does not cover validation of the claims at all. The reason for excluding the validation of the claims is because there are many ways to validate the ones even in the spec and because it appears that not too many people use the ones in the spec in practice. Even the current implementation of the library leaves it up to users to provide the validation themselves.

Note: The recent inclusion of the Plug to this library would remain here as well.

I can see an interface something like below

```elixir
Joken.encode(payload, algorithm, secret, encode_fn) :: binary | {:error, binary}
```

`payload` would be a `Dict` that contains the data to be encoded. 
`algorithm` would be any of the supported algorithms.
`secret` would be the binary or key used for encoding
`encode_fn` would be a user defined function to do json encoding

```elixir
Joken.decode(token, algorithm, secret, decode_fn) :: Dict.t | {:error, binary}
```

`token` would be a binary token
`algorithm` would be the algorithm used to encode the token
`secret` would be the binary or key
`decode_fn` would be a user defined function to do json decoding

`Joken.decode` would also take care of verifying the signature of the token.

This would also remove the need for anything in configuration. This would probably benefit libraries that use Joken as well as it allows them for flexibility.


As stated, this is just a proposal. Would love to hear any feedback, thoughts, or alternative solutions. Also as stated, the Plug that was recently introduced would stay as well. This is really only for the actual encoding and decoding of tokens. @cs-victor-nascimento I would love to hear your thoughts on this.


I like your proposed interface. One minor nitpick would be to allow a whitelist of algorithms in the `decode` function.

I too think the API can be better. Not only because of its usability but also in terms of functionality. But before tackling this we need to know better the use cases we want to address.

Right now we have:

1. **Encoding claims into a token.** That is: given a set of claims following JWTs RFC standard, we generate a JWS header and sign it in COMPACT serialization accordingly. From this also follows:
  - We can add claims to the set either conditionally (for a given context) or statically (always add the claim).
  - We can't, currently, pass different keys or header arguments for different tokens. This is more crucial for the signing algorithms that use RSA keys, for example.
  - We give the user the opportunity to choose how to encode the claim set to JSON but I can't think of a use case that the user will want to do some crazy processing here. More on that later.

2. **Decoding and validating a token.** This is done altogether and means: given a token in COMPACT serialization format, we validate its signature (if the algorithm in the header is any other than `:none`) and run the claim set through ALL custom validations. From that also follows:
  - We can pass options and context to the decoding process. 
  - The only option currently in use is `skip: []` which allows users to skip certain claims. This was intended to validate tokens that were expired in order to check if all else passes. We should document better this intended use case.
  - Context is only intended for validation and not for verification. That means: we can't pass the key or header parameters that we intend to use on the verification.
  - Same thing applies here to the decoding JSON.

With your proposal we are loosing some functionality while making the need for a configuration go away. I think we can do better at simplifying things but leaving the config module there. Some points to consider:

1. **JSON encoding/decoding**: I truly think we don't need to have encoding/decoding functions. We should follow Plug's approach of having only a module as a parameter and we call `module.encode!/1` or `module.decode!/1`. Both JSX and Poison (the only 2 we are testing against) have interfaces for that. Currently I realized that even if the user decides upon Poison, erlang-jose is importing JSX. We should align this better with @potatosalad. 
Also, I think we could decide upon a default (I am inclined to make Poison a default because it is more widely used in Elixir though in erlang-jose JSX seems like a more natural fit) and remove all this burden in configuration.

2. **Claims configuration**: we should remove completely the configuration of claims from `Joken.Config`. I am not sure here on what we could do. Perhaps leave it with the user to come up with whatever he thinks is best. Perhaps come up with a way to build a `Joken.Claims` struct from `defclaim` macros (similar to Ecto's model). Maybe we could use the validate_claim functions to know which macros should be added. Really I am not sure. 
Before the `Joken.Config` I was passing the function a struct which seems easy enough to construct. Something like:

    ```elixir
    Joken.encode(%MyToken{
          exp: get_current_time() + 300,
          iat: get_current_time() - 300,
          sub: UUID.generate,
          aud: "Some audience",
          jti: UUID.generate
        })
    ```
    What I am sure is that we should avoid having 2 or more ways of adding claims. If we leave the claim in the config module than we should just call `Joken.encode()` and not `Joken.encode(%{more_claims: "more"})`. If we leave it to the user to pass any kind of claim than we should remove it from config. 
    Anyway, not sure what to do here. 

3. **Better config for JWS headers**. We are 100% compliant with the spec yet mainly because of our parsing of the JOSE header. The really nice erlang-joe library does accept more option for JWS signing than we can give it now. This is complicated as the specs are big and the number of options are huge. One thing, though, is certain: we should think of better names for the configuration of those. `secret_key` is no longer only a binary. We should consider this better to be sure we can support the whole RFC without further breaking the API. I guess @potatosalad could help here as he's gone through those RFCs on its entirety and is a better crypto expert than us (I am working on this... playing some catch up here...).

    Functionality wise we have to add the possibility of passing this config on a per token basis. The RFC is emphatic that for certain algorithms it is RECOMMENDED not to use the same signing configuration for all tokens. We could have a default configuration, but should also consider passing this config to `Joken.encode` or `Joken.decode` as you did on your proposal.

4. **Assume defaults**. After having said all that, I think we should assume more defaults. I believe that most people will end up using `:HS256` with Poison and with the default set of claims. I belive we should assume that as a good default and give a better out-of-the-box experience. If we can assume this all and even the default values for exp, iat, nbf and even their validations, the amount of work needed to start issuing and validating tokens will be significantly lower.

Sorry to brainstorm on an issue \o/ but I really think this all is somewhat important. After we have some proposal it would be good to post on the elixir mailing list to collect more feedback. 

@cs-victor-nascimento I agree with most of what you have here. 

1. **JSON encoding/decoding**: That sounds reasonable. For picking a default, Poison is probably the way to. It is definitely the most popular. 

2. **Claims configuration**: We should definitely remove the claims portion of the config. It's completely unneeded. I'm not sure if we should build up the claims only because not everyone uses the the ones from the spec. Also why I'm in favor of removing the validate_claims from the config as well. Maybe we make some kind of validation functions that a struct can be passed to with some defaults for certain claims (like iat, exp, etc). Something like how Plug currently works. We can have a struct that has fields for the algorithm, secret, payload, errors, and encoder/decoder module and we make functions that act on that struct and return it as well.

    ```elixir
    %Token{ algorithm: :HS256, secret: "secret", json_module: Poison, payload: %{}, errors [], token: "token" } 
    ```

    ```elixir
    result = %Token{algorithm: :HS256, secret: "secret", json_module: Poison, token: "token"}
    |> Joken.decode #would return %Token{algorithm: :HS256, secret: "secret", json_module: Poison, token: "token", payload: %{aud: "user"}, errors [] }
    |> Joken.Validations.validate_exp
    |> Joken.Validations.validate_aud("admin")
    ```

I think some of that covers points 3 and 4 as well. Back to point 3, I need to update myself on the current spec.

What would be a better name for `secret_key`? Maybe just `key`?

Also, yes on asking the mailing list after we have something good. The more feedback the better.


As soon as I responded, I thought of something further. It builds on my response, and @cs-victor-nascimento maybe this is more of what you had in mind as well?

```elixir
#encoding
token()
|> with_key("secret")
|> with_algorithm(:HS256)
|> with_encoder
|> with_exp #would add exp claim to payload
|> encode

#decoding
token("token")
|> with_key("secret")
|> with_algorithm(:HS256)
|> with_decoder
|> decode
|> validate_exp
|> validate_aud("admin")
```


Quick note about my intentions:

My goal with [erlang-jose](https://github.com/potatosalad/erlang-jose) was to have a fairly low-level library that accurately implements the [JOSE RFC specifications](https://tools.ietf.org/wg/jose/) for both Erlang and Elixir.  When I found joken which I thought would make a nice higher-level complement to erlang-jose.

Here are some of my opinions about the specifications in general:

Out of all the JOSE specifications [RFC 7519: JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) is by far, in my opinion, the most vague when it comes to describing its functionality.  I think that's probably why it's so difficult for people to understand how best to implement what is described in the RFC (I don't even understand all of it).  The behavior of a JWT seems to be very application specific (similar to what has happened with OAuth2).

Here's an example excerpt:

> The set of claims that a JWT must contain to be considered valid is
> context dependent and is outside the scope of this specification.
> Specific applications of JWTs will require implementations to
> understand and process some claims in particular ways.  However, in
> the absence of such requirements, all claims that are not understood
> by implementations MUST be ignored.

So...`{}` is a valid JWT :confused:

The other specifications like [RFC 7515: JSON Web Signature (JWS)](https://tools.ietf.org/html/rfc7515), [RFC 7516: JSON Web Encryption (JWE)](https://tools.ietf.org/html/rfc7516), [RFC 7517: JSON Web Key (JWK)](https://tools.ietf.org/html/rfc7517), and [RFC 7518: JSON Web Algorithms (JWA)](https://tools.ietf.org/html/rfc7518) are fairly strict in terms of their behavior.

My point behind mentioning all of that is we'll probably end up with each of us having a different interpretation of the JWT RFC and it'll be difficult to prove any of them as being more correct than the others.

Here are my thoughts on the points mentioned above:

1. **JSON encoding/decoding:** We can potentially offload this entirely to erlang-jose.  So choosing between Poison and jsx can be a application-level configuration option for jose.

2. **Claims configuration:** I think a user configurable map or struct would be most appropriate here (similar to how erlang-jose handles things).  I think it makes the most sense for joken to focus on the validation of claims versus worrying about creating, defining, or encoding those claims.

3. **Better config for JWS headers.** I would suggest naming things exactly what they are: `json_web_key` or `jwk` instead of `secret_key` and `json_web_signature` or `jws` instead of `algorithm`.  If JWE functionality is ever added to joken, the original terms will become even more ambiguous.  I'd also keep `secret_key` and `algorithm` around for backwards compatibility, but mark them as deprecated.

4. **Assume defaults.** That seems fine.

I think a joken config should define 3 things which represents a single "signer/verifier" or "verifier":

1. JSON Web Key (private = signer/verifier, public = verifier)
2. JSON Web Signature
3. JSON Web Token validation schema

The creation of the actual JWT map or struct would be the user's responsibility (so also the definition of the validation schema).

@bryanjos I see what you did there... Real nice!

In the end we are all aligned with the goals. I agree with @potatosalad that the user will end up passing whatever he wants to be encoded. All other specifications are applicable for any JSON and not only JWTs (and even that is very vague as pointed out). So the user must retain its ability to pass whatever he wants to Joken. But I still think Bryan's proposition seems nice because it does not dictate on what is being encoded/decoded. `token/1` would receive a map optionally. 

IMHO we should stress what Bryan proposed. 

Forgot to mention another renaming suggestion: `sign` and `verify` make more sense to me in terms of what the RFC describes instead of `encode` and `decode`.  It becomes even more apparent if we were to ever add `encrypt` and `decrypt` to joken.

@cs-victor-nascimento thanks! I'm glad you like the idea. @potatosalad you bring up a lot of valid points. Like you said, the JWT RFC does leave a lot up for interpretation and I think that's what has caught me off guard up to this point and something I hope we can fix here. 

I like the idea of `sign` and `verify`. `encode` and `decode` do give a different meaning. Technically the role of the library isn't in the encoding and decoding of json. I also like your idea for point 3. We can use `json_web_key` in place of `secret_key` and `json_web_signature` instead of `algorithm`. Or the abbreviations, I'm fine either way.

These are all good thoughts! I think we have the beginnings of a path forward that we can refine.

@cs-victor-nascimento Whoops, I started writing my response off and on earlier in the day before Bryan posted and hadn't refreshed the page to see them yet.

@bryanjos I think the the struct/map option could be a good idea.  What do you think of the following ideas?

I think separating the JWK + JWS portion from the JWT might make the API clearer:

```elixir
# All 4 signers are equivalent
signer = %Signer{ jwk: "secret" }
signer = %Signer{ jwk: %{ kty: "oct", k: "c2VjcmV0" } }
signer = %Signer{ jws: %{ alg: "HS256" }, jwk: "secret" }
signer = %Signer{ jws: %{ alg: "HS256" }, jwk: %{ kty: "oct", k: "c2VjcmV0" } }
```

Using your example above, it could reduce the API down to:

```elixir
#encoding
token()
|> with_exp #would add exp claim to payload
|> sign(signer)

#decoding
token("token")
|> verify(signer)
|> validate_exp
|> validate_aud("admin")
```

In cases where the user only has the public key, a `%Verifier{}` struct could also be used.

Based on the detected key type, a default signing algorithm can be chosen:

* Binaries or `oct` keys default to `HS256`.
* `EC` keys default to `ES256`, `ES384`, or `ES512` based on the curve type (`P-256`, `P-384`, and `P-521` respectively).
* `RSA` keys default to `RS256` (if `PS256` is supported, then default to `PS256`).

This would also open it up to easily add support for an encryptor:

```elixir
# All 4 encryptors are equivalent
encryptor = %Encryptor{ jwk: "Im a 128 bit key" }
encryptor = %Encryptor{ jwk: %{ kty: "oct", k: "SW0gYSAxMjggYml0IGtleQ" } }
encryptor = %Encryptor{ jwe: %{ alg: "dir", enc: "A128CBC-HS256" }, jwk: "Im a 128 bit key" }
encryptor = %Encryptor{ jwe: %{ alg: "dir", enc: "A128CBC-HS256" }, jwk: %{ kty: "oct", k: "SW0gYSAxMjggYml0IGtleQ" } }
```

Encrypt/decrypt example similar to the sign/verify example above:

```elixir
#encrypting
token()
|> with_exp #would add exp claim to payload
|> encrypt(encryptor)

#decrypting
token("token")
|> decrypt(encryptor)
|> validate_exp
|> validate_aud("admin")
```

In cases where the user has the private key, a `%Decryptor{}` struct could also be used.

Based on the detected key type, a default encryption algorithms can be chosen (the decision process is more complex than the one for signatures, so I won't include it here right now).

I think we are all set to start! I like the idea of having both sign/verify and encrypt/decrypt. 

So we need:
- [ ] `Joken.Token` struct definition Bryan's proposal plus Andrew's signer, encrypter and decrypter fields.
- [ ] Define our JSON strategy (simply use JSX from erlang-jose?)
- [ ] Following functions in `Joken` module:
    - [ ] `token/0` and `token/1` (both generate the same struct. token/1 may get a binary or a map)
    - [ ] `with_*` (exp, iat, nbf, aud, sub, etc) helper claim functions 
    - [ ] `with_claim/3` (%Token{}, key, value) for custom claims?
    - [ ] `sign/2` and `verify/2`
    - [ ] `encrypt/2` and `decrypt/2`
    - [ ] `validate_*/1` and `validate_*/2` (exp, iat, nbf, aud, sub, etc)? Perhaps we need to go further on this.
    
Am I missing anything?

That looks good to me! How would any of this effect the plug and should we change anything to accommodate that?

Well... since you've mentioned it... it breaks the Plug completely hehehe

I believe the final touch to this is to make it portable. I mean, besides sign/verify and encrypt/decrypt we should always return the token struct. For example, validate_exp would be kept in a validation map. Only those mentioned functions would return something like `{:ok, compact_token}` or `{:ok, payload}`. That way we could *apply* it anywhere we want it. Plug would only receive a token struct and call sign/verify and even encrypt/decrypt. We would need the functions signer/decryptor/encryptor also. 

```elixir
config = token
|> with_exp
|> with_iat
|> with_nbf
|> signer(signer) # returns our Token struct
|> validate_exp
|> validate_iat

plug Joken.Plug, config: config
```

Would that work?

Actually, we could do:

```elixir
plug Joken.Plug

post "/someroute", private: %{joken_config: config} do
     # gets here only if a valid token exists for the given private config
end
```

@cs-victor-nascimento I'll see if I can get erlang-jose to allow for choosing between Poison or jsx (or any other encoder/decoder) for the encoding and decoding of JSON.  By default, it can just detect whether Poison or jsx is already loaded (preferring Poison over jsx).

@cs-victor-nascimento I was thinking that we always return a token struct even when doing sign/verify. 

For the plug, I don't know if I'm allowed to like both of those choices, but I do :smile: 

@potatosalad thanks for looking into that. If it becomes too much of an issue, we can figure out something else.

I think we have enough to start. Let's hibernate the Plug for a while during this refactoring. 

I won't have much time to look into this this weekend. But we should start a new brand and go on.

Agreed. I think I should have some time this weekend to start. 

I just released [jose v1.2.0](https://github.com/potatosalad/erlang-jose/releases/tag/1.2.0) which allows you specify either jsx, Poison, or any other module as the JSON encoder/decoder.

You can do so either by setting the application environment variable `json_module`, or by using `JOSE.json_module/1`:

```elixir
JOSE.json_module(Poison)
# :ok
JOSE.json_module
# :jose_json_poison_ord_encoder
JOSE.encode(%{})
# "{}"
JOSE.decode("{}")
# %{}

JOSE.json_module(:jsx)
# :ok
JOSE.json_module
# :jose_json_jsx
JOSE.encode(%{})
# "{}"
JOSE.decode("{}")
# %{}
```

If no module has been specified:

* On Elixir it will first attempt to use Poison.  If not found, it will attempt to find and use jsx.
* On Erlang it will attempt to find and use jsx.
* If neither are found, the module gets set to `jose_json_unsupported` which will raise an error when called.

A custom encoder/decoder only needs to respond to `decode/1` and `encode/1` or just implement the `jose_json` behavior.

Also, the tests may be failing now with joken.  Another flag, `crypto_fallback` was added to 1.2.0 which disables the PS256, PS384, and PS512 signing algorithms by default.

Calling `JOSE.JWA.crypto_fallback(true)` will enable the non-native algorithms to allow the tests to pass.  See [jose_test.exs](https://github.com/potatosalad/erlang-jose/blob/master/test/jose_test.exs#L4-L7) for an example.

Created a new branch called [0.16.0](https://github.com/bryanjos/joken/tree/0.16.0) and added the Token and Signer structs, along with `token/0`, `token/1` functions (the later taking either a binary or a map) and  `sign/2` functions. 

https://github.com/bryanjos/joken/commit/a667fa4d48a7969c2c4048b1b2fc7d0777f947d6



Should we close this one? I guess we are settled with the API for now.

Yes, we can close this one. Closing now